[Desktop Entry]
Encoding=UTF-8
Name=Aureus Core
Comment=Connect to the Aureus P2P Network
Comment[de]=Verbinde mit dem Aureus peer-to-peer Netzwerk
Comment[fr]=Aureus, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Aureus, eşten eşe kriptografik sanal para birimi
Exec=aureus-qt %u
Terminal=false
Type=Application
Icon=aureus128
MimeType=x-scheme-handler/aureus;
Categories=Office;Finance;
